@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

.registration{
    margin-top: 50px!important;
    font-size: 16.5px;
    font-family: 'Nunito Sans', sans-serif !important;
    color: rgb(12, 12, 12);
}
